cached-property==1.4.0
certifi==2018.1.18
chardet==3.0.4
docker==3.1.0
docker-compose==1.20.0rc1
docker-pycreds==0.2.2
dockerpty==0.4.1
docopt==0.6.2
idna==2.6
jsonschema==2.6.0
PyYAML==3.12
requests==2.18.4
six==1.11.0
texttable==0.9.1
urllib3==1.26.5
websocket-client==0.47.0
